@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@-webkit-keyframes transIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
@keyframes transIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
@-webkit-keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    fill: var(--clr-secondary-200);
    transform: scale(1.1);
  }
  80% {
    fill: var(--clr-secondary-200);
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 0;
    fill: var(--clr-secondary-200);
  }
}
@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    fill: var(--clr-secondary-200);
    transform: scale(1.1);
  }
  80% {
    fill: var(--clr-secondary-200);
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 0;
    fill: var(--clr-secondary-200);
  }
}
/*
@keyframes stroke-animation {
    0% {
        stroke-dashoffset: 0;
    }
    30% {
        stroke-dashoffset: 1550;
    }

    60% {
        stroke-dashoffset: 3100;
        fill: transparent;
        transform: scale(1);
    }

    70% {
        fill: var(--clr-secondary-200);
        transform: scale(1.1);
    }


    80% {
        fill: var(--clr-secondary-200);
        transform: scale(1);
    }

    100% {
        stroke-dashoffset: 3100;
        fill: var(--clr-secondary-200);
    }
}
*/
main .function__content .function__article article, main .restaurant__content .restaurant__content__article, main .container .box__menu, header nav, main .container .btn__menu__btn, header .header__content .explore__button {
  box-shadow: 5px 9px 18px -3px rgba(0, 0, 0, 0.29);
}
main .function__content .function__article article:hover, main .restaurant__content .restaurant__content__article:hover, main .container .box__menu:hover, header nav:hover, main .container .btn__menu__btn:hover, header .header__content .explore__button:hover {
  box-shadow: 5px 9px 18px -3px rgba(0, 0, 0, 0.39);
}

main .container .menu__title .text {
  font-family: "Shrikhand", cursive;
  font-size: 30px;
}

:root {
  --clr-primary-100: hsl(267deg, 66%, 60%);
  --clr-primary-200: hsl(267deg, 66%, 50%);
  --clr-secondary-100: hsl(317deg, 100%, 74%);
  --clr-secondary-200: hsl(317deg, 100%, 64%);
  --clr-bg-100: hsl(0deg, 0%, 95%);
  --clr-bg-200: hsl(0deg, 0%, 80%);
  --clr-bg-300: hsl(0deg, 0%, 15%);
  --clr-article-100: hsl(165deg, 56%, 74%);
  --clr-article-200: hsl(165deg, 56%, 34%);
  --fs-100: 0.72rem;
  --fs-200: 0.8rem;
  --fs-300: 0.9rem;
  --fs-400: 1.125rem;
  --fs-500: 1.5rem;
  --fs-600: 2rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
}
@media only screen and (min-width: 768px) {
  :root {
    --fs-100: 1rem;
    --fs-200: 1.2rem;
    --fs-300: 1.5rem;
    --fs-400: 1.8rem;
    --fs-500: 2rem;
    --fs-600: 2.827rem;
    --fs-700: 4rem;
    --fs-800: 5.635rem;
  }
}

.bg-primary-100 {
  background-color: hsl(267deg, 66%, 60%);
}

.bg-primary-200 {
  background-color: hsl(267deg, 66%, 50%);
}

.bg-secondary-100 {
  background-color: hsl(317deg, 100%, 74%);
}

.bg-secondary-200 {
  background-color: hsl(317deg, 100%, 64%);
}

.bg-bg-100 {
  background-color: hsl(0deg, 0%, 95%);
}

.bg-bg-200 {
  background-color: hsl(0deg, 0%, 80%);
}

.bg-bg-300 {
  background-color: hsl(0deg, 0%, 15%);
}

.bg-article-100 {
  background-color: hsl(165deg, 56%, 74%);
}

.bg-article-200 {
  background-color: hsl(165deg, 56%, 34%);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

svg {
  width: 25px;
}

.heart {
  fill: transparent;
  stroke: var(--clr-secondary-200);
  stroke-width: 20;
  cursor: pointer;
  position: relative;
}
.heart svg {
  overflow: visible;
  width: 40px;
}
.heart svg path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
.heart__background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
.heart__main:hover path {
  -webkit-animation: stroke-animation 2s ease-in-out forwards;
          animation: stroke-animation 2s ease-in-out forwards;
}
.heart__main:hover ~ .heart__background path path {
  -webkit-animation: stroke-animation 2s ease-in-out forwards;
          animation: stroke-animation 2s ease-in-out forwards;
}
.heart svg {
  width: 30px;
  height: 30px;
}
.heart svg:hover {
  transform: scale(1.1);
}

main .container .btn__menu__btn, header .header__content .explore__button {
  padding: 1rem;
  border-radius: 25px;
  background: linear-gradient(0deg, var(--clr-primary-100) 0%, var(--clr-secondary-200) 100%);
  text-align: center;
}
@media screen and (min-width: 768px) {
  main .container .btn__menu__btn, header .header__content .explore__button {
    min-width: 220px;
  }
}
main .container .btn__menu__btn a, header .header__content .explore__button a {
  color: white;
  font-size: var(--fs-200);
}
main .container .btn__menu__btn:hover, header .header__content .explore__button:hover {
  transform: scale(1.05);
  background: linear-gradient(0deg, var(--clr-primary-100) 0%, var(--clr-secondary-100) 100%);
}

footer {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  padding-bottom: 40px;
  color: white;
}
footer .title {
  font-size: var(--fs-400);
  font-family: "Shrikhand", cursive;
}
footer .text {
  display: flex;
  gap: 7px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .text a {
  color: white;
  font-size: var(--fs-200);
  font-weight: 500;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
footer .text a i {
  width: 15px;
  height: 15px;
}
@media screen and (min-width: 992px) {
  footer .text {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media screen and (min-width: 992px) {
  footer {
    display: flex;
    gap: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

header .header__content .location {
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px 0;
  width: 100%;
  font-size: var(--fs-300);
}
header .header__content .location input {
  width: 100px;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
}
header .header__content .explore {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px 0px;
}
@media screen and (min-width: 992px) {
  header .header__content .explore {
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    text-align: start;
  }
}
header .header__content .explore__title {
  width: 60%;
  font-weight: 600;
  font-size: var(--fs-500);
}
@media screen and (min-width: 992px) {
  header .header__content .explore__title {
    width: 100%;
  }
}
header .header__content .explore__text {
  width: 80%;
  font-size: var(--fs-300);
  margin-bottom: 10px;
  font-weight: 300;
}
@media screen and (min-width: 992px) {
  header .header__content .explore__text {
    width: 100%;
  }
}
header nav {
  padding: 20px;
}
header nav .title {
  font-family: "Shrikhand", cursive;
  font-size: var(--fs-500);
  text-align: center;
}

header {
  -webkit-animation: transIn 5s;
          animation: transIn 5s;
}
header nav i {
  position: absolute;
  top: 20px;
  font-size: 25px;
}

main {
  display: flex;
  gap: 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  -webkit-animation: transIn 6s;
          animation: transIn 6s;
}
main .menu__img {
  position: absolute;
  z-index: -1;
  width: 100%;
  max-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .menu__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 992px) {
  main .menu__img img {
    max-height: 400px;
  }
}
main .container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  width: 100%;
  border-radius: 20px 20px 0 0;
  z-index: 1;
  background-color: var(--clr-bg-100);
  margin-top: 200px;
}
main .container .entree {
  -webkit-animation: transIn 7s;
          animation: transIn 7s;
}
main .container .plats {
  -webkit-animation: transIn 7.5s;
          animation: transIn 7.5s;
}
main .container .desserts {
  -webkit-animation: transIn 8s;
          animation: transIn 8s;
}
main .container .menu__title {
  padding: 40px 20px;
  display: flex;
  gap: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
}
main .container .menu__title .text {
  font-size: var(--fs-600);
}
main .container .box {
  padding: 0px 20px;
}
@media screen and (min-width: 992px) {
  main .container .box {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: none;
    flex-wrap: wrap;
    padding: 0px 50px;
  }
}
main .container .box__title {
  text-transform: uppercase;
  border-bottom: 3px solid var(--clr-article-100);
  padding: 5px 0;
  width: 40px;
  font-size: var(--fs-300);
}
@media screen and (min-width: 992px) {
  main .container .box__title {
    border: 0;
    border-bottom: 3px solid var(--clr-article-100);
    width: 100%;
    font-size: var(--fs-300);
    margin: auto;
  }
}
main .container .box__menu {
  margin: 20px 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background-color: white;
}
main .container .box__menu__text {
  display: flex;
  gap: 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
  width: 100%;
  padding: 10px 0px 10px 10px;
}
main .container .box__menu__text .title {
  font-weight: 600;
  font-size: var(--fs-300);
}
main .container .box__menu__text .desc {
  display: flex;
  gap: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: none;
  align-items: baseline;
}
main .container .box__menu__text .desc .text {
  font-size: var(--fs-200);
}
main .container .box__menu__text .desc .price {
  font-size: var(--fs-200);
  font-weight: 600;
  margin: 10px 10px 0 10px;
}
main .container .box__menu__check {
  border-radius: 0 10px 10px 0;
  display: inline;
  justify-content: center;
  align-items: center;
  width: 0px;
}
main .container .box__menu__check svg {
  width: 10px;
  padding: 5px;
  fill: var(--clr-article-100);
  background-color: white;
  border-radius: 50%;
}
main .container .box__menu:hover .box__menu__check {
  width: 25%;
  display: flex;
  transform: translateX(0);
  transition: 0.5s ease-in-out;
}
main .container .box__menu:hover .box__menu__check svg {
  -webkit-animation: 0.35s rotate 0.15s linear;
          animation: 0.35s rotate 0.15s linear;
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
@media screen and (min-width: 992px) {
  main .container .box__menu {
    min-height: 100px;
    min-width: 200px;
    width: 30%;
    margin: 0;
  }
}
main .container .btn__menu {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 40px;
}
main .container .btn__menu__btn {
  min-width: 120px;
}
main .container .btn__menu__btn a {
  font-size: var(--fs-300);
}
@media screen and (min-width: 992px) {
  main {
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: none;
  }
}

main .function__content {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  main .function__content {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: none;
  }
}
main .function__content .function__article {
  display: flex;
  gap: 0px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
main .function__content .function__article .number {
  display: flex;
  gap: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 10px;
  font-size: 10px;
  height: 10px;
  background-color: var(--clr-primary-200);
  padding: 5px;
  position: absolute;
  color: white;
  font-weight: 600;
}
main .function__content .function__article article {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  padding: 15px 0px 15px 25px;
  margin-left: 10px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  main .function__content .function__article article {
    padding: 15px 25px 15px 25px;
  }
}
main .function__content .function__article article:hover {
  background: linear-gradient(90deg, rgba(255, 121, 218, 0.2544642857) 0%, rgba(147, 86, 220, 0.2566964286) 100%);
}
main .function__content .function__article article:hover i {
  color: var(--clr-primary-200);
}
main .function__content .function__article article .icon {
  text-align: center;
  width: 15px;
  height: 15px;
}
main .function__content .function__article article .icon i {
  font-size: 15px;
  width: 100%;
  height: 100%;
}
main .function__content .function__article article .text {
  font-size: var(--fs-200);
  font-weight: 600;
}

main .restaurant__content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-between;
}
main .restaurant__content .restaurant__content__article {
  overflow: hidden;
  border-radius: 20px;
  background-color: white;
}
main .restaurant__content .restaurant__content__article aside {
  position: absolute;
  right: 20px;
  padding: 10px 20px;
  margin: 15px;
  font-size: var(--fs-300);
  color: var(--clr-article-200);
  font-weight: 600;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  main .restaurant__content .restaurant__content__article aside {
    right: 40px;
  }
}
main .restaurant__content .restaurant__content__article .img {
  max-height: 180px;
  height: 180px;
}
@media screen and (min-width: 992px) {
  main .restaurant__content .restaurant__content__article .img {
    min-width: 50%;
    width: 50%;
    max-width: 50%;
  }
}
main .restaurant__content .restaurant__content__article .img img {
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  main .restaurant__content .restaurant__content__article .img img {
    min-width: 180px;
    max-width: 180px;
    min-height: 180px;
  }
}
@media screen and (min-width: 992px) {
  main .restaurant__content .restaurant__content__article .img img {
    min-width: 100%;
    width: 100%;
    max-width: 100%;
  }
}
main .restaurant__content .restaurant__content__article .buttom {
  padding: 0 20px;
  display: flex;
  gap: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .restaurant__content .restaurant__content__article .buttom .left {
  padding: 20px 0;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
@media screen and (min-width: 768px) {
  main .restaurant__content .restaurant__content__article .buttom .left {
    display: flex;
    gap: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
main .restaurant__content .restaurant__content__article .buttom .left__title {
  font-size: var(--fs-400);
  font-weight: 600;
}
main .restaurant__content .restaurant__content__article .buttom .left__text {
  font-size: var(--fs-300);
}
@media screen and (min-width: 768px) {
  main .restaurant__content .restaurant__content__article .buttom {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
  }
}
@media screen and (min-width: 992px) {
  main .restaurant__content .restaurant__content__article .buttom {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  main .restaurant__content .restaurant__content__article {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  main .restaurant__content .restaurant__content__article {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

header {
  -webkit-animation: transIn 4s;
          animation: transIn 4s;
}
main {
  -webkit-animation: transIn 5s;
          animation: transIn 5s;
}
main .function {
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  main .function {
    padding-bottom: 80px;
  }
}
main .function__title {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: var(--fs-500);
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  main .function__title {
    text-align: center;
    padding: 80px 0px 40px 0px;
  }
}
main .function .card-1 {
  -webkit-animation: transIn 7s;
          animation: transIn 7s;
}
main .function .card-2 {
  -webkit-animation: transIn 7.5s;
          animation: transIn 7.5s;
}
main .function .card-3 {
  -webkit-animation: transIn 8s;
          animation: transIn 8s;
}
main .restaurant {
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  main .restaurant {
    padding: 0 40px;
  }
}
main .restaurant__title {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: var(--fs-500);
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  main .restaurant__title {
    text-align: center;
  }
}
main .restaurant__content {
  padding-bottom: 60px;
}

.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--clr-bg-300);
  z-index: -1;
  opacity: 0;
  -webkit-animation: 3.2s vision;
          animation: 3.2s vision;
  color: var(--clr-secondary-100);
}
.loader__logo {
  font-size: var(--fs-600);
  font-family: "Shrikhand", cursive;
  display: flex;
  gap: 20px;
}
.loader i {
  -webkit-animation: hearth 1.5s infinite;
          animation: hearth 1.5s infinite;
}
@-webkit-keyframes hearth {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  48% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
@keyframes hearth {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  48% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes vision {
  from {
    z-index: 10;
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: 10;
    background-color: blue;
  }
}
@keyframes vision {
  from {
    z-index: 10;
    opacity: 1;
  }
  to {
    opacity: 0;
    z-index: 10;
    background-color: blue;
  }
}

body {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=main.css.map */