@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*
animation get stroke set 0 and size 100% to O to 100 == opacity 1
*/
@-webkit-keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--clr-secondary-200);
    transform: scale(1.1);
  }
  80% {
    fill: var(--clr-secondary-200);
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: var(--clr-secondary-200);
  }
}
@keyframes stroke-animation {
  0% {
    stroke-dashoffset: 0;
  }
  30% {
    stroke-dashoffset: 1550;
  }
  60% {
    stroke-dashoffset: 3100;
    fill: transparent;
    transform: scale(1);
  }
  80% {
    fill: var(--clr-secondary-200);
    transform: scale(1.1);
  }
  80% {
    fill: var(--clr-secondary-200);
    transform: scale(1);
  }
  100% {
    stroke-dashoffset: 3100;
    fill: var(--clr-secondary-200);
  }
}
@-webkit-keyframes transIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
@keyframes transIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotate(0);
  }
}
/*

.foo {
  color: red;

  @include respond-to('medium') {
    color: blue;
  }
}

*/
main .function__content .function__article article, main .restaurant__content .restaurant__content__article, header nav, header .header__content .explore__button {
  box-shadow: 5px 9px 18px -3px rgba(0, 0, 0, 0.29);
}
main .function__content .function__article article:hover, main .restaurant__content .restaurant__content__article:hover, header nav:hover, header .header__content .explore__button:hover {
  box-shadow: 5px 9px 18px -3px rgba(0, 0, 0, 0.39);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

svg {
  width: 25px;
}

header .header__content .explore__button {
  padding: 1rem;
  border-radius: 25px;
  background: linear-gradient(0deg, var(--clr-primary-100) 0%, var(--clr-secondary-200) 100%);
}
header .header__content .explore__button a {
  color: white;
  font-size: var(--fs-200);
}
header .header__content .explore__button:hover {
  transform: scale(1.1);
}

footer {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  padding: 20px;
  padding-bottom: 40px;
  background-color: var(--clr-bg-300);
  color: white;
}
footer .title {
  font-size: var(--fs-400);
  font-family: "Shrikhand", cursive;
}
footer .text {
  display: flex;
  gap: 7px;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
footer .text li {
  font-size: var(--fs-300);
  font-weight: 500;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: none;
  align-items: none;
}
footer .text li i {
  width: 15px;
  height: 15px;
}

header .header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
header .header__content .location {
  display: flex;
  gap: 15px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 15px;
  width: 100%;
}
header .header__content .location i {
  font-size: 15px;
}
header .header__content .location input {
  width: 100px;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: 600;
}
header .header__content .explore {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0px;
}
header .header__content .explore__title {
  width: 60%;
  font-weight: 600;
  font-size: var(--fs-500);
}
header .header__content .explore__text {
  width: 80%;
  font-size: var(--fs-300);
  margin-bottom: 10px;
  font-weight: 300;
}
header nav {
  padding: 20px;
}
header nav .title {
  font-family: "Shrikhand", cursive;
  font-size: var(--fs-500);
  text-align: center;
}

main .function__content {
  display: flex;
  gap: 15px;
  flex-direction: column;
  justify-content: none;
  align-items: none;
  padding-bottom: 40px;
}
main .function__content .function__article {
  display: flex;
  gap: 0px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
main .function__content .function__article .number {
  display: flex;
  gap: 0px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 10px;
  font-size: 10px;
  height: 10px;
  background-color: var(--clr-primary-200);
  padding: 5px;
  position: absolute;
  color: white;
  font-weight: 600;
}
main .function__content .function__article article {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: none;
  align-items: center;
  border-radius: 10px;
  padding: 15px 0px 15px 25px;
  margin-left: 10px;
  margin-right: 15px;
  width: 100%;
}
main .function__content .function__article article:hover {
  background: linear-gradient(90deg, rgba(255, 121, 218, 0.2544642857) 0%, rgba(147, 86, 220, 0.2566964286) 100%);
}
main .function__content .function__article article:hover i {
  color: var(--clr-primary-200);
}
main .function__content .function__article article .icon {
  text-align: center;
  width: 15px;
  height: 15px;
}
main .function__content .function__article article .icon i {
  font-size: 15px;
  width: 100%;
  height: 100%;
}
main .function__content .function__article article .text {
  font-size: var(--fs-300);
  font-weight: 600;
}

main .restaurant__content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}
main .restaurant__content .restaurant__content__article {
  overflow: hidden;
  border-radius: 20px;
}
main .restaurant__content .restaurant__content__article aside {
  background-color: var(--clr-article-100);
  position: absolute;
  right: 20px;
  padding: 10px 20px;
  margin: 15px;
  font-size: var(--fs-300);
  color: var(--clr-article-200);
  font-weight: 600;
  border-radius: 5px;
}
main .restaurant__content .restaurant__content__article .img {
  max-height: 180px;
  height: 180px;
}
main .restaurant__content .restaurant__content__article .img img {
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .restaurant__content .restaurant__content__article .buttom {
  padding: 0 20px;
  display: flex;
  gap: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .restaurant__content .restaurant__content__article .buttom .left {
  padding: 20px 0;
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: space-between;
  align-items: none;
}
main .restaurant__content .restaurant__content__article .buttom .left__title {
  font-size: var(--fs-400);
  font-weight: 600;
}
main .restaurant__content .restaurant__content__article .buttom .left__text {
  font-size: var(--fs-300)10px;
}
main .restaurant__content .restaurant__content__article .buttom .heart {
  fill: transparent;
  stroke: #ff79da;
  stroke-width: 20;
  cursor: pointer;
  position: relative;
}
main .restaurant__content .restaurant__content__article .buttom .heart svg {
  overflow: visible;
  width: 40px;
}
main .restaurant__content .restaurant__content__article .buttom .heart svg path {
  stroke-dashoffset: 0;
  stroke-dasharray: 1550;
  transform-origin: center;
}
main .restaurant__content .restaurant__content__article .buttom .heart__background {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  stroke: none;
}
main .restaurant__content .restaurant__content__article .buttom .heart__main:hover path {
  -webkit-animation: stroke-animation 2s ease-in-out forwards;
          animation: stroke-animation 2s ease-in-out forwards;
}
main .restaurant__content .restaurant__content__article .buttom .heart__main:hover ~ .restaurant__content .restaurant__content__article .buttom .heart__background path path {
  -webkit-animation: stroke-animation 2s ease-in-out forwards;
          animation: stroke-animation 2s ease-in-out forwards;
}
main .restaurant__content .restaurant__content__article .buttom .heart svg {
  width: 30px;
  height: 30px;
}
main .restaurant__content .restaurant__content__article .buttom .heart svg:hover {
  transform: scale(1.1);
}

main .function {
  padding: 0 20px;
}
main .function__title {
  padding: 40px 0px;
  font-size: var(--fs-500);
  font-weight: 600;
}
main .restaurant {
  background-color: var(--clr-bg-100);
  padding: 0 20px;
}
main .restaurant__title {
  padding: 40px 0px;
  font-size: var(--fs-500);
  font-weight: 600;
}
main .restaurant__content {
  padding-bottom: 40px;
}

:root {
  --clr-primary-100: hsl(267deg, 66%, 60%);
  --clr-primary-200: hsl(267deg, 66%, 50%);
  --clr-secondary-100: hsl(317deg, 100%, 74%);
  --clr-secondary-200: hsl(317deg, 100%, 64%);
  --clr-bg-100: hsl(0deg, 0%, 90%);
  --clr-bg-200: hsl(0deg, 0%, 80%);
  --clr-bg-300: hsl(0deg, 0%, 15%);
  --clr-article-100: hsl(165deg, 56%, 74%);
  --clr-article-200: hsl(165deg, 56%, 34%);
  --fs-100: 0.72rem;
  --fs-200: 0.8rem;
  --fs-300: 0.9rem;
  --fs-400: 1.125rem;
  --fs-500: 1.463rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
}
@media only screen and (min-width: 40rem) {
  :root {
    --fs-100: 0.82rem;
    --fs-200: 0.9rem;
    --fs-300: 1rem;
    --fs-400: 1.425rem;
    --fs-500: 1.8rem;
    --fs-600: 2.827rem;
    --fs-700: 4rem;
    --fs-800: 5.635rem;
  }
}

.bg-primary-100 {
  background-color: hsl(267deg, 66%, 60%);
}

.bg-primary-200 {
  background-color: hsl(267deg, 66%, 50%);
}

.bg-secondary-100 {
  background-color: hsl(317deg, 100%, 74%);
}

.bg-secondary-200 {
  background-color: hsl(317deg, 100%, 64%);
}

.bg-bg-100 {
  background-color: hsl(0deg, 0%, 90%);
}

.bg-bg-200 {
  background-color: hsl(0deg, 0%, 80%);
}

.bg-bg-300 {
  background-color: hsl(0deg, 0%, 15%);
}

.bg-article-100 {
  background-color: hsl(165deg, 56%, 74%);
}

.bg-article-200 {
  background-color: hsl(165deg, 56%, 34%);
}

body {
  font-family: "Roboto", sans-serif;
}/*# sourceMappingURL=main.css.map */