@use "../layout/header" as *;
@use "../layout/navigation" as *;
@use "../layout/footer" as *;
@use "../components/articles" as *;

@use "../abstract/mixins" as *;

header {
    animation: transIn 1s;
    nav {
        @extend %nav;
    }

    .header__content {
        @extend %header__home; 
    }
}

main {
    animation: transIn 2s;
    .function {
        @media screen and (min-width: 40rem) {
            padding-bottom: 80px;
        }
        
        padding: 0 20px;
        &__title {
            padding: 40px 0px;
            font-size: var(--fs-500);
            font-weight: 600;

            @media screen and (min-width: 40rem) {
                text-align: center;
                padding: 80px 0px 40px 0px;
            }
        }
        &__content {
            @extend %article_function;   
        }
        .card-1 {
            animation: transIn 2s ;
        }
        .card-2 {
            animation: transIn 2.5s ;
        }
        .card-3 {
            animation: transIn 3s ;
        }

    }

    .restaurant {
        background-color: var(--clr-bg-100);
        padding: 0 20px;
        @media screen and (min-width: 40rem) {
            padding: 0 40px;
        }
        &__title {
            padding: 40px 0px;
            font-size: var(--fs-500);
            font-weight: 600;
            @media screen and (min-width: 40rem) {
                text-align: center;
            }
        }
        &__content {
            @extend %article_restaurants;
            padding-bottom: 40px;
        }
    }
}

footer {
    @extend %footer;
}
