
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background-color: var(--clr-bg-300);
  z-index: -1;
  opacity: 0;
  animation: 3.2s vision ;
  color: var(--clr-secondary-100);

  &__logo {
    font-size: var(--fs-600);
    font-family: "Shrikhand", cursive;
    display: flex;
    gap: 20px;
  }
  i {
    animation: hearth 1.5s infinite;
    @keyframes hearth {
      0% {
        transform: scale(1);
      }
      20% {
        transform: scale(1.1);
      }
      40% {
        transform: scale(1);
      }
      60% {
        transform: scale(1.2);
      }
      48% {
        transform: scale(1);
      }
      100% {
        transform: scale(.9);
      }
    }
  }

  @keyframes vision {
    from {
      z-index: 10;
      opacity: 1;
    }
    to {
      opacity: 0;
      z-index: 10;
      background-color: blue;
    }
  }

}
