@use "../components/buttons" as *;
@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;
@use "../abstract/extensions" as *;

header {
    animation: transIn 1s;
    nav {
        i {
            position: absolute;
            top:20px;
            font-size: 25px;
        }
    }
}

main {
    @include flexBox(0,column,space-between,flex-start);
    animation: transIn 2s;
    .menu__img  {
        position: absolute;
        z-index: -1;
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        img {
            width: 100%;
            object-fit: cover;
            @media screen and (min-width: 992px) {
                max-height: 400px;
            }
        }
    }
   
    .container {
        .entree {
            animation: transIn 3s;
        }
        .plats {
            animation: transIn 5s;
        }
        .desserts {
            animation: transIn 7s;
        }

        @include flexBox(20,column,space-between,stretch);
        width: 100%;
        border-radius: $borderR-top;
        z-index: 1;
        background-color: var(--clr-bg-100);
        margin-top: 200px;
        .menu__title {
            padding: 40px 20px;
            @include flexBox(0,row,space-between,flex-start);
            .text {
                @extend %title;
                font-size: var(--fs-600);
            }
        }
        .box {
            @media screen and (min-width: 992px) {
                @include flexBox(20,row,space-between,flex-start);
                flex-wrap: wrap;
                padding: 0px 50px;
            }
            padding: 0px 20px;
            &__title {
                text-transform: uppercase;
                border-bottom: 3px solid var(--clr-article-100);
                padding:5px 0;
                width: 40px;
                font-size: var(--fs-300);
                @media screen and (min-width: 992px) {
                    border: 0;
                    border-bottom: 3px solid var(--clr-article-100);
                    width:100%;
                    font-size: var(--fs-300);
                    margin: auto;
                }
            }
            &__menu {
                @extend %shadow;
                margin:20px 0;
                overflow: hidden;
                display: flex;
                flex-direction: row;
                border-radius: $borderR;
                background-color: white;
                &__text {
                    @include flexBox(0,column,space-between,flex-start);
                    width: 100%;
                    padding: 10px 0px 10px 10px;
                    .title {
                        font-weight: 600;
                        font-size: var(--fs-300);
                    }
                    .desc {
                        @include flexBox(0,row,space-between,flex-start);
                        align-items: baseline;
                        .text {
                            font-size: var(--fs-200);
                        }
                        .price {
                            font-size: var(--fs-200);
                            font-weight: 600;
                            margin: 10px  10px 0 10px;
                        }
                    }
                }
                &__check {
                   border-radius: $borderR-right;
                   display: inline;
                   justify-content: center;
                   align-items: center;
                   width: 0px;

                   svg {
                    width: 10px;
                    padding: 5px;
                    fill: var(--clr-article-100);
                    background-color: white;
                    border-radius: $borderR-50;
                   }
                }
                &:hover {
                    .box__menu__check {
                        width: 25%;
                        display: flex;
                        transform: translateX(0);
                        transition: 0.5s ease-in-out;
                        svg {
                            @keyframes rotate {
                                0% {
                                  -webkit-transform: rotate3d(0, 0, 1, 0deg);
                                  transform: rotate3d(0, 0, 1, 0deg);
                                }
                                25% {
                                  -webkit-transform: rotate3d(0, 0, 1, 90deg);
                                  transform: rotate3d(0, 0, 1, 90deg);
                                }
                                50% {
                                  -webkit-transform: rotate3d(0, 0, 1, 180deg);
                                  transform: rotate3d(0, 0, 1, 180deg);
                                }
                                75% {
                                  -webkit-transform: rotate3d(0, 0, 1, 270deg);
                                  transform: rotate3d(0, 0, 1, 270deg);
                                }
                                100% {
                                  -webkit-transform: rotate3d(0, 0, 1, 360deg);
                                  transform: rotate3d(0, 0, 1, 360deg);
                                }
                            }
                            animation: 0.35s rotate 0.15s linear;
                        }
                    }
                }
                @media screen and (min-width: 992px) {
                    min-height: 100px;
                    min-width: 200px;
                    width: 30%;
                    margin: 0;
                }
            }
        }
        .btn__menu {
            display: flex;
            justify-content: center;
            text-align: center;
            &__btn {
                a {
                    font-size: var(--fs-300);
                }
                min-width: 120px;
                @extend %button;
            }
            padding-bottom: 40px;
        }
    }
    @media screen and (min-width: 992px) {
        @include flexBox(50,column,space-between,flex-start);
    }
}

footer {
    //
}