@use "../abstract/mixins" as *;

%footer {
    @include flexBox(20,column,none,none);
    padding: 20px;
    padding-bottom: 40px;
    color: white;
    .title {
        font-size: var(--fs-400);
        font-family: "Shrikhand", cursive;
    }
    .text {
        @include flexBox(7,column,none,none);
        a {
            color: white;
            font-size: var(--fs-200);
            font-weight: 500;
            @include flexBox(10,row,none,none);
            i {
                width: 15px;
                height: 15px;
            }
        }
        @media screen and (min-width: 60rem) {
            @include flexBox(20,row,space-between,none);
        }
    }
    @media screen and (min-width: 60rem) {
        @include flexBox(0,row,space-between,none);
    }
}