@use "../abstract/mixins" as *;
@use "../abstract/extensions" as *;
@use "../abstract/variables" as *;
@use "../abstract/functions" as *;

%article_function {
    @include flexBox(15,column,none,none);
    @media screen and (min-width: 40rem) {
        @include flexBox(20,row,center,none);
    }
    padding-bottom: 40px;
    .function__article {
        @include flexBox(0,row,flex-start,center);
        .number {
            @include flexBox(0,row,center,center);
            border-radius: 50%;
            width: 10px;
            font-size: 10px;
            height: 10px;
            background-color: var(--clr-primary-200);
            padding: 5px;
            position: absolute;
            color: white;
            font-weight: 600;
        }
        article {
            @extend %shadow;
            @include flexBox(20,row,none,center);
            @media screen and (min-width: 40rem) {
                padding: 15px 25px 15px 25px
            }
            border-radius: 10px;
            padding: 15px 0px 15px 25px;
            margin-left: 10px;
            width: 100%;
            &:hover {
                background: linear-gradient(90deg, rgba(255,121,218,0.2544642857142857) 0%, rgba(147,86,220,0.2566964285714286) 100%);
                i {
                    color: var(--clr-primary-200);
                }
            }
            .icon {
                text-align: center;
                width: 15px;
                height: 15px;
                i {
                    font-size: 15px;
                    width: 100%;
                    height: 100%;
                }
            }
            .text {
                font-size: var(--fs-200);
                font-weight: 600;
            }
        }
    }
}

%article_restaurants {
    @include flexBox(20,column,none,none);
     
    .restaurant__content__article {
        
        @extend %shadow;
        overflow: hidden;
        border-radius: 20px;
        background-color: white;
        aside {
            position: absolute;
            right: 20px;
            padding: 10px 20px;
            margin: 15px;
            font-size: var(--fs-300);
            color: var(--clr-article-200);
            font-weight: 600;
            border-radius: 5px;
            @media screen and (min-width: 40rem) {
                right: 40px;
            }
        }
        .img {
            max-height: 180px;
            height: 180px;
            @media screen and (min-width: 60rem) {
                min-width: 50%;
                width: 50%;
                max-width: 50%;
            }
            img {
                max-height: 100%;
                width: 100%;
                object-fit: cover;
                @media screen and (min-width: 40rem) {
                    min-width: 180px;
                    max-width: 180px;
                    min-height: 180px;
                }
                @media screen and (min-width: 60rem) {
                    min-width: 100%;
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
        .buttom {
            padding:0 20px;
            @include flexBox(0,row,space-between,center);
            .left {
                padding:20px 0;
                @include flexBox(5,column,space-between,none);
                @media screen and (min-width: 40rem) {
                    @include flexBox(40,column,space-between,none);
                }
                &__title {
                    font-size: var(--fs-400);
                    font-weight: 600;
                }
                &__text {
                    font-size: var(--fs-300);
                }
            }
            @media screen and (min-width: 40rem) {
                @include flexBox(20,row,space-between,center);
                width: 80%;
            }
            @media screen and (min-width: 60rem) {
                @include flexBox(20,row,space-between,center);
                width: 50%;
            } 
        }
        @media screen and (min-width: 40rem) {
            @include flexBox(20,row,flex-start,none);
        }
        @media screen and (min-width: 60rem) {
            @include flexBox(20,row,flex-start,none);
        }
    }
}

