@use "../abstract/variables" as *;
@use "../abstract/extensions" as *;

%button {
    @extend %shadow;
    padding: 1rem;
    border-radius: 25px;
    background: linear-gradient($linear-bg);
    text-align: center;
    
    @media screen and (min-width: 40rem) {
        min-width: 220px;
    }
    a {
        color: white;
        font-size: var(--fs-200);
    }

    &:hover {
        transform: scale(1.05);
        background: linear-gradient($linear-bg_hover);
    }
}
