$colors: (
    primary: (
        100: hsl(14,100%,80%),
        200: hsl(14,100%,70%),
        300: hsl(14,100%,60%),
        400: hsl(14,100%,40%),
        500: hsl(14,100%,20%),
    ),
    article: (
        100: hsl(122,100%,80%),
        200: hsl(122,100%,70%),
        300: hsl(122,100%,60%),
        400: hsl(122,100%,40%),
        500: hsl(122,100%,20%),
    ),
);