$colors: (
    primary: (
        100: hsl(267, 66%, 60%),
        200: hsl(267, 66%, 50%),
    ),

    secondary: (
        100: hsl(317, 100%, 74%),
        200: hsl(317, 100%, 64%),
    ),

    bg: (
        100: hsl(0, 0%, 50%),
        200: hsl(0, 0%, 30%),
        300: hsl(0, 0%, 20%),
    ),

    article: (
        100: hsl(165, 56%, 74%),
     )

);