$type-scales: (
    small: (
        100: 0.72rem,
        200: 0.8rem,
        300: 0.9rem,
        400: 1.125rem,
        500: 1.5rem,
        600: 2rem,
        700: 2.441rem,
        800: 3.052rem,
    ),
    large: (
        100: 1rem,
        200: 1.2rem,
        300: 1.5rem,
        400: 1.8rem,
        500: 2rem,
        600: 2.827rem,
        700: 4rem,
        800: 5.635rem,
    )
)
