$type-scales: (
    small: (
        100: 0.72rem,
        200: 0.8rem,
        300: 0.9rem,
        400: 1.125rem,
        500: 1.463rem,
        600: 1.953rem,
        700: 2.441rem,
        800: 3.052rem,
    ),
    large: (
        100: 0.82rem,
        200: 0.9rem,
        300: 1rem,
        400: 1.425rem,
        500: 1.8rem,
        600: 2.827rem,
        700: 4rem,
        800: 5.635rem,
    )
)
