

//article animation
@keyframes transIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg)
    }
    to {
        opacity: 1;
        transform: rotate(0);
    }
}

@keyframes stroke-animation {
    0% {
        stroke-dashoffset: 0;
    }
    30% {
        stroke-dashoffset: 1550;
    }

    60% {
        stroke-dashoffset: 3100;
        fill: transparent;
        transform: scale(1);
    }

    80% {
        fill: var(--clr-secondary-200);
        transform: scale(1.1);
    }


    80% {
        fill: var(--clr-secondary-200);
        transform: scale(1);
    }

    100% {
        stroke-dashoffset: 3100;
        fill: var(--clr-secondary-200);
    }
}
