$linear-bg: 0deg, var(--clr-primary-100) 0%, var(--clr-secondary-200) 100%;
$linear-bg_hover: 0deg, var(--clr-primary-100) 0%, var(--clr-secondary-100) 100%;

$borderR-right: 0 10px 10px 0;
$borderR-top: 20px 20px 0 0;
$borderR-50: 50%;
$borderR: 10px;
$borderRx2: 20px;